/* Home Page Styles */

.page1 {
    background-color: rgb(232, 228, 205);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    justify-content: space-between;
    font-family: sans-serif;
}


footer {
    display: flex;
    /* margin: ; */
    justify-content: space-between;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero h2{
    font-size: 9vw;
    color: brown;
    font-family: sans-serif;
    margin-bottom: 13vh;
}

.hero h3{
    font-size: 30px;
    margin-bottom: 3vh;
}

.mess-btn{
    height: 60px;
    width: 150px;
    border-radius: 999px;
    font-size: 17px;
    color: white;
    background-color: black;
    transform: scale(1);
    transition: transform 0.4s ease-out;
    margin: 1vh;
}

.mess-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: transform 0.4s ease-out;
}

.home-btn{
    font-size: xx-large;
}