*{

}

.about-container {
    max-width: 800px;
    margin: auto;
    padding: 30px 40px;
    background: beige;
    
    border-radius: 20px;
   
    text-align: center;

}

.about-container h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #222;
}

.about-container p {
    font-size: 1.05rem;
    line-height: 1.7;
    color: #444;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    margin: 0;
    background-color: beige
}

/* header{
    display: flex;
    justify-content: space-between;
} */

.Us a{
    color: purple;
    font-weight: 700;
}

footer{
    background-color: rgb(51, 82, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
}