/* For Both Bluedove and Bluepsring */

.day-container{
  display: flex;
}

.day-container *{
  margin: 5px 10px;
}

.menu-container,.votes-container{
  align-items: center;
  text-align: center;
  font-size: 20px;
  height: 200px;
  width: 50%;
  border: 2px black solid;
  border-radius: 5px;
}

.menu-container p,.votes-container p{
  background-color: beige;
  border-radius: 10px;
}