/* ------ ALL PAGES STYLES ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

a{
    font-style: none;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(232, 228, 205);
    padding: 10px;
    /* align-items: center; */
}

/* menu */
.buttons{
    display: flex;
}

header{
  font-size: large;
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.name{
    cursor: pointer;
}