* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

a{
    font-style: none;
    text-decoration: none;
    color: black;
}

.page1 {
    background-color: beige;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    justify-content: space-between;
}

header {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
    /* align-items: center; */
}

footer {
    display: flex;
    /* margin: ; */
    justify-content: space-between;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
